body {
  margin: 0;
  font-family: sans-serif;
}
header {
  margin: 0 auto;
  padding: 0;
}
a.installment_payment {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 50px;
  padding: 2px 20px 0 20px;
  box-sizing: border-box;
  background: linear-gradient(90deg, deeppink, blueviolet, purple);
  color: white;
  font-size: 22px;
  font-weight: lighter;
  text-align: center;
}
a.installment_payment>span {
  display: inline-block;
  font-size: 32px;
  padding: 0 10px 0 8px;
  font-weight: bold;
  position: relative;
  top: 5px;
}
a.installment_payment span:nth-of-type(2) {
  border-left: solid 1px;
  border-right: solid 1px;
}
a.installment_payment_hidden, a.installment_payment_hidden2 {
  display: none;
}
div.main_info {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
div.main_info_1 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
div.main_info_1>ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 30px;
  padding: 0;
}
div.main_info_1>ul>li a {
  text-decoration: none;
  display: block;
  margin: 22px 14px 0 0;
  color: rgba(36, 34, 34, 0.8);
  font-size: 14px;
}
div.main_info_1>ul>li a:hover {
  color: rgb(21, 24, 210);
  transition: 0.6s;
}
div.main_info_hidden {
  display: none;
}
img.clock, img.phone {
  width: 20px;
  height: 20px;
  margin: 15px 0 0 0;
  padding: 5px 14px 5px 14px;
  border-left: solid grey 1px;
}
div.working_time {
  padding: 10px 0 0 0;
}
div.working_time>p {
  margin: 0 15px 0 0;
  padding: 0;
  color: rgba(36, 34, 34, 0.8);
  font-size: 14px;
  line-height: 1.4;
}
a[href^='tel'] {
  text-decoration: none;
  display: block;
  margin: 20px 0 0 0;
  color: rgba(36, 34, 34, 0.8);
  font-size: 16px;
  width: 180px;
  height: 20px;
}
a[href^='tel'] span b {
  font-weight: normal;
  font-size: 14px;
  text-decoration: underline;
}
span.hidden {
  text-decoration: underline;
  display: none;
}
a[href^='tel']:hover {
  color: rgb(21, 24, 210);
  text-decoration: underline;
}
a[href^='tel']:hover b {
  display: none;
}
a[href^='tel']:hover span.hidden {
  display: inline-block;
}
button {
  display: flex;
  margin: 0 30px 0 10px;
  padding: 5px 5px 5px 0;
  background: transparent;
  border: none;
  color: rgb(21, 24, 210);
}
button:hover {
  cursor: pointer;
}
button:focus+div.blackout {
  display: block;
}
button:focus~form {
  display: block;
}
button:focus~div.out {
  display: block;
}
div.out:focus+form {
  display: none;
}
div.out:hover {
  cursor: pointer;
}
form:hover {
  display: block;
}
form:active+div.blackout_2 {
  display: block;
}
form:hover+div.blackout_2 {
  display: block;
  opacity: 0.3;
}
div.blackout:active {
  display: none;
}
img.user {
  width: 24px;
  height: 24px;
  margin: 7px 10px 5px 0;
}
button>span {
  margin: 12px 0 0 0;
  font-size: large;
}
div.blackout, div.blackout_2 {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 300vh;
  margin: 0;
  background: black;
  opacity: 0.25;
  display: none;
  z-index: 1;
}
div.out {
  border: solid transparent;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 0;
  font-size: 26px;
  background: url("img/cancel.svg") center/100% no-repeat;
  position: absolute;
  color: darkgrey;
  top: 12vh;
  left:calc(50% + 205px);
  display: none;
  z-index: 3;
}
form {
  width: 500px;
  height: 530px;
  border-radius: 30px;
  position: absolute;
  background: whitesmoke;
  padding: 25px 25px 10px 25px;
  top: 10vh;
  left: calc(50% - 250px);
  display: none;
  box-sizing: border-box;
  z-index: 2;
}
div.menu {
  width: 100%;
  height: 300px;
}
form p:nth-of-type(1) {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
}
form p:nth-of-type(2) {
  font-size: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
form p:nth-of-type(3) {
  font-size: 12px;
  color: orangered;
  position: relative;
  top: 6px;
  width: 285px;
  background: whitesmoke;
  margin: 0;
  padding: 0;
}
form p:nth-of-type(4) {
  font-size: 13px;
  color: gray;
  text-align: left;
  margin: 20px 0 0 0;
  padding: 0;
}
form input:nth-of-type(1) {
  width: 95%;
  height: 50px;
  padding: 0 0 0 10px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.8);
  border: solid black 1px;
  border-radius: 8px;
}
form input:nth-of-type(2) {
  width: 95%;
  height: 50px;
  margin: 36px 0 0 7px;
  background: #5ab9f8;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  border: none;
}
form input:nth-of-type(2):hover {
  background: rgb(21, 24, 210);
  cursor: pointer;
}
div.icons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 20px 0 0 0;
  width: 70%;
}
div.icons~a {
  display: inline-block;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  border: solid;
}
div.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: gainsboro solid 1px;
  border-radius: 50%;
  margin: auto;
}
div.icon:hover {
  border: black solid 1px;
}
div.apple {
  background: url("img/apple.svg") 47% 40%/70% no-repeat white;
}
div.google {
  background: url("img/google.svg") center/100% no-repeat;
}
div.facebook {
  background: url("img/facebook.svg") center/100% no-repeat;
}
form p:nth-of-type(5) {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 20px 0 0 0;
}
div.menu {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
}
div.menu a.store_name, footer>div>a.store_name {
  display: inline-block;
  width: 100px;
  height: 34px;
  color: white;
  margin: 12px 0 0 30px;
  padding: 0 10px 0 0;
  text-decoration: none;
  font-size: 30px;
  border-right: solid 1px;
  font-weight: bold;
  text-align: center;
}
nav.mobile-menu {
  display: none;
}
nav.goods, nav.other {
  margin: 0;
  padding: 0;
  color: white;
  z-index: 2;
}
nav.goods ul, nav.goods ol, nav.other ul, nav.other ul {
  list-style: none;
}
nav.goods>ul, nav.other>ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 17px 0 0 0;
  margin: 0;
  box-sizing: border-box;
}
nav.goods>ul li a, nav.other>ul li a {
  display: block;
  font-size: 16px;
  padding: 5px 20px 20px 15px;
  color: gainsboro;
  text-decoration: none;
  transition: all 0.6s ease;
}
nav.goods>ul li, nav.other>ul li {
  position: relative;
}
nav.goods li a:hover {
  color: rgb(27, 130, 215);
  transition: all 0.6s ease;
}
nav.other li a:hover {
  color: rgb(27, 130, 215);
  transition: all 0.6s ease;
}
nav.goods li ul, nav.other li ul {
  position: absolute;
  min-width: 202px;
  padding-inline-start: 1px;
  display: none;
  margin: 0;
}
nav.goods li>ul li, nav.other li>ul li {
  height: 46px;
  border-bottom: solid 1px gainsboro;
  background: rgb(69, 65, 65);
}
nav.goods li>ul li:last-of-type, nav.other li>ul li:last-of-type {
  border-bottom: none;
}
nav.goods li>ul li a, nav.other li>ul li a {
  height: 100%;
  font-size: 14px;
  padding: 15px 0 0 8px;
  text-transform: none;
  box-sizing: border-box;
}
nav.goods li>ul li a:hover {
  background: rgba(109, 116, 127, 0.2);
}
nav.goods li:hover>ul {
  display: block;
}
nav.other li:hover>ul {
  display: block;
}
nav>ul>li>ul>li>a>span {
  color: rgba(173, 255, 47, 0.7);
}
div.line {
  width: 1px;
  height: 57%;
  background: white;
  margin: 12px 0 0 0;
}
div.empty {
  width: 130px;
  height: 100%;
}
div.menu>a:nth-of-type(2) {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 15px 40px 0 0;
  background: url("img/shopping_blue.svg");
}
a:nth-of-type(2)>img {
  width: 30px;
  height: 30px;
  margin: auto;
}
a:nth-of-type(2)>img:hover {
  opacity: 0;
  transition: 0.6s;
}
p.title_info {
  background: rgba(220, 220, 220, 0.8);
  margin: 0;
  padding: 5px 0 5px 0;
  font-size: 46px;
  text-align: center;
  font-weight: lighter;
}
div.payment_and_delivery, div.info_about_shop {
  margin: 0;
  padding: 0 30px 0 30px;
}
div.order_of_goods {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
div.order_of_goods div {
  width: 31%;
}
div.order_of_goods div>p {
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
  line-height: 120%;
}
a.stores {
  display: inline-block;
  margin: 12px 0 0 0;
  color: rgba(255, 69, 0, 0.8);
}
a.stores:hover {
  color: #1894e2;
  transform: scale(1,1.07);
}
div.info_about_shop>p:nth-of-type(1) {
  font-size: x-large;
  font-weight: lighter;
}
div.info_about_shop>p:nth-of-type(2) {
  font-size: large;
  font-weight: bold;
}
div.info_about_shop>p:nth-of-type(3), div.info_about_shop>p:nth-of-type(4),
div.info_about_shop>p:nth-of-type(5), div.info_about_shop>p:nth-of-type(6),
div.info_about_shop>p:nth-of-type(7) {
  font-size: large;
  font-weight: lighter;
  line-height: 120%;
  text-align: justify;
}
div.credit {
  padding: 70px 30px 30px 30px;
  text-align: center;
}
div.credit>p {
  font-size: x-large;
  font-weight: lighter;
  margin: 15px 0 30px 0;
}
table {
  width: 100%;
  height: 170px;
  border: 2px solid gainsboro;
  border-collapse: collapse;
  margin: 0 0 50px 0;
}
td {
  min-width: 160px;
  border: 2px solid gainsboro;
}
td>a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 80px 0 0 0;
  text-decoration: none;
  color: black;
  font-size: large;
  line-height: 150%;
}
td>a:hover {
  color: #5ab9f8;
}
div.credit>p:nth-of-type(2) {
  font-size: xx-large;
  font-weight: bold;
  text-align: left;
}
div.online_credit {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}
div.online_credit>p {
  margin: 0 0 0 40px;
  padding: 0;
  line-height: 190%;
  font-size: large;
  font-weight: lighter;
}
div.online_credit>p>span {
  font-size: xx-large;
}
div.online_credit>p>a {
  display: inline-block;
  width: 200px;
  height: 40px;
  background: rgba(76, 131, 212, 0.6);
  color: white;
  margin: 20px 0 0 0;
  padding: 7px 0 0 0;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
div.online_credit>p>a:hover {
  background: rgba(76, 131, 212, 1);
}
div.legal_entities {
  padding: 10px 100px 30px 100px;
  display: flex;
  justify-content: space-around;
}
div.legal_entities>div:nth-of-type(1) {
  width: 400px;
  height: 350px;
}
div.legal_entities>div:nth-of-type(2) {
  width: 600px;
  height: 350px;
  background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
}
div.legal_entities>div>p:nth-of-type(1) {
  font-size: 42px;
  font-weight: bold;
}
div.legal_entities>div>p:nth-of-type(2) {
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
}
div.how_to_order {
  width: 100%;
  padding: 20px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
div.how_to_order>div {
  width: 33%;
}
div.how_to_order>div>p:nth-of-type(1) {
  display: inline-block;
  font-size: large;
  font-weight: bold;
  padding: 0 0 0 15px;
  position: relative;
  bottom: 15px;
}
div.how_to_order>div>p:nth-of-type(2) {
  display: inline-block;
  width: 80%;
  height: 70px;
  font-size: 16px;
  position: relative;
  bottom: 42px;
  left: 50px;
  margin: 0;
}
div.how_to_order>div>p:nth-of-type(3) {
  display: inline-block;
  width: 80%;
  height: 40px;
  font-size: 16px;
  position: relative;
  bottom: 66px;
  left: 50px;
  margin: 0;
}
div.how_to_order>div>span:nth-of-type(1) {
  display: block;
  width: 40px;
  height: 40px;
  background:url("img/one.svg") center/33% no-repeat #1f6dbb;
  border-radius: 50%;
}
div.how_to_order>div>span:nth-of-type(2) {
  display: block;
  width: 40px;
  height: 40px;
  background:url("img/two.svg") center/33% no-repeat #1f6dbb;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}
div.our_services {
  margin: 0 30px 0 30px;
}
div.our_services>p {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
div.our_services>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.our_services>div>p {
  display: inline-block;
  width: 21%;
  height: 260px;
  box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
  font-size: 18px;
  line-height: 140%;
  padding: 20px;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.8);
}
footer {
  width: 100%;
  margin: 50px 0 0 0;
  background: rgba(0, 0, 0, 0.85);
}
footer>div {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
footer>div>div {
  display: flex;
  color: white;
  height: 50px;
  margin: 0 0 0 20px;
  padding: 5px 0 0 5px;
}
footer>div>div>a {
  width: 30px;
  height: 30px;
  display: block;
  margin: 10px 10px 0 20px;
}
footer>div>div>a:nth-of-type(1) {
  background: url("img/instagram.svg") center/100% no-repeat;
}
footer>div>div>a:nth-of-type(2) {
  background: url("img/fb.svg") center/100% no-repeat;
}
footer>div>div>a:nth-of-type(3) {
  background: url("img/vk.svg") center/100% no-repeat;
}
footer>div>div>a>img {
  width: 30px;
  height: 30px;
  opacity: 0;
}
footer>div>div>a:nth-of-type(1):hover img {
  opacity: 1;
  transition: 0.9s;
}
footer>div>div>a:nth-of-type(2):hover img {
  opacity: 1;
  transition: 0.9s;
}
footer>div>div>a:nth-of-type(3):hover img {
  opacity: 1;
  transition: 0.9s;
}
footer>hr {
  margin: 0 30px 0 30px;
  border: solid 1px rgba(115, 148, 232, 0.6);
}
div.footer_payment {
  display: flex;
  justify-content: flex-start;
  color: rgba(220, 220, 220, 0.9);
  margin: 10px 30px 0 30px;
  padding: 5px 0 0 5px;
}
div.footer_payment>p {
  width: 32%;
  font-size: 12px;
  margin: 0 20px 20px 0;
  line-height: 130%;
}
div.footer_payment>p>a {
  text-decoration: none;
  color: rgba(220, 220, 220, 0.9);
}
div.footer_payment>p>a:hover {
  text-decoration: underline;
}
/*carousel start*/
div.flex-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
div.slider-wrapper {
  width: 100vw;
  height: 44vw;
  position: relative;
  box-shadow: 10px 10px 44px -10px darkgrey;
}
#btn-next, #btn-prev {
  position: absolute;
  left: 0;
  top: 42%;
  height: 10%;
  width: 3%;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
div.active>a {
  display: block;
  width: 100%;
  height: 100%;
}
#btn-next {
  background: url("img/next.svg") center/100% no-repeat;
}
#btn-prev {
  background: url("img/previous.svg") center/100% no-repeat;
}
#btn-next:hover, #btn-prev:hover {
  opacity: 0.9;
}
#btn-next {
  left: auto;
  right: 0;
}
div.slide {
  width: 100%;
  height: 100%;
  display: none;
}
div.slide:nth-of-type(1) {
  background: url("img/img1.png") center/72% no-repeat #fafafa;
}
div.slide:nth-of-type(2) {
  background: url("img/img2.png") center/72% no-repeat #d8f1ff;
}
div.slide:nth-of-type(3) {
  background: url("img/img3.png") center/72% no-repeat #ffffff;
}
div.slide:nth-of-type(4) {
  background: url("img/img4.png") center/72% no-repeat #f2f2f2;
}
div.slide:nth-of-type(5) {
  background: url("img/img5.png") center/72% no-repeat #f6f5f8;
}
div.slide:nth-of-type(6) {
  background: url("img/img6.png") center/70% no-repeat #000000;
}
div.slide.active {
  display: block;
}
div.dots-wrapper {
  display: flex;
  justify-content: center;
  margin-top:15px ;
}
div.dot.active {
  background: black;
}
div.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(128, 128, 128, 0.4);
  margin-right: 14px;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}
/*carousel end*/
div.airpods_container_hidden {
  display: none;
}
div.airpods_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px 5px;
}
div.airpods_container>div:first-child {
  height: 200px;
  background: #f6f6f6;
  margin: 14px 0 0 0;
}
div.airpods_container>div:nth-child(2) {
  height: 200px;
  background: #f6f6f6;
  margin: 14px 0 0 0;
}
div.airpods_container>div:last-child {
  height: 200px;
  background: #f6f6f6;
  margin: 14px 0 0 0;
}
div.airpods_container>div:nth-of-type(1) {
  background: url("img/iPods2.jpeg") left/contain no-repeat #f6f6f6;
}
div.airpods_container>div:nth-of-type(2) {
  background: url("img/cases.jpeg") left/contain no-repeat #f6f6f6;
}
div.airpods_container>div:nth-of-type(3) {
  background: url("img/iPhones.jpeg") left/contain no-repeat #f6f6f6;
}
div.airpods_container a {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
div.airpods_container>div>a>div {
  width: 52%;
  padding: 10px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.airpods_container>div>a>div>p:nth-of-type(1) {
  font-size: x-large;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}
div.airpods_container>div>a>div>p:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.6);
  line-height: 140%;
  margin: -10px 0 0 0;
}
div.airpods_container span {
  color: #5ab9f8;
  display: inline-block;
}
div.airpods_container span:nth-of-type(2) {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  background: url("img/next.svg") center/100% no-repeat;
}
div.airpods_container span:nth-of-type(2)>img {
  opacity: 0;
}
div.airpods_container a:hover span:nth-of-type(1) {
  text-decoration: underline;
  color: orangered;
  transition: 0.4s;
}
div.airpods_container a:hover span:nth-of-type(2)>img {
  opacity: 1;
  transition: 0.7s;
}
div.iPhone_container_hidden {
  display: none;
}
div.iPhone_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "iPhone Mac Mac iPad"
    "iPhone smart_home Mac_mini accessories";
}
div.iPhone {
  grid-area: iPhone;
  height: 705px;
  background: url("img/iPhone12_transp.png") 50% 130%/280% no-repeat #f6f6f6;
}
div.Mac {
  grid-area: Mac;
  height: 350px;
  background: url("img/YourPng.com - 2163x700.png") 50% 85%/66% no-repeat #f6f6f6;
}
div.iPad {
  grid-area: iPad;
  height: 350px;
  background: url("img/iPad_transp.png") 30% 80%/99% no-repeat #f6f6f6;
}
div.smart_home {
  grid-area: smart_home;
  height: 350px;
  background: url("img/smart_home.png") 50% 140%/75% no-repeat #f6f6f6;
}
div.Mac_mini {
  grid-area: Mac_mini;
  height: 350px;
  background: url("img/macmini.png") 50% 90%/90% no-repeat #f6f6f6;
}
div.accessories {
  grid-area: accessories;
  height: 350px;
  background: url("img/airpods_max.png") 50% 90%/75% no-repeat #f6f6f6;
}
div.iPhone_container>div>a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0 20px 0 30px;
  box-sizing: border-box;
}
div.iPhone_container>div>a>div>p:nth-of-type(1) {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
div.iPhone_container>div>a>div>p:nth-of-type(2) {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin: -10px 0 0 0;
}
div.iPhone_container>div>a>div>p:nth-of-type(3) {
  color: #5ab9f8;
}
div.iPhone_container>div>a>div>p:nth-of-type(3) span:nth-of-type(2) {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  background: url("img/next.svg") center/100% no-repeat;
}
div.iPhone_container>div>a>div>p:nth-of-type(3)>span>img {
  opacity: 0;
}
div.iPhone_container a:hover div span:nth-of-type(1) {
  text-decoration: underline;
  color: orangered;
  transition: 0.4s;
}
div.iPhone_container a:hover div span:nth-of-type(2)>img {
  opacity: 1;
  transition: 0.7s;
}
div.iPhone_container>div.iPhone>a:hover {
  background: url("img/iphone_12_pro_max_pacific_blue_block-4.png") 50% 80%/70% no-repeat #f6f6f6;
}
div.iPhone_container>div.Mac>a:hover {
  background: url("img/Mac.png") 50% 85%/66% no-repeat #f6f6f6;
}
div.iPhone_container>div.iPad>a:hover {
  background: url("img/iPad.png") 30% 80%/75% no-repeat #f6f6f6;
}
div.iPhone_container>div.smart_home>a:hover {
  background: url("img/Apple_HomeKit.png") 50% 100%/65% no-repeat #f6f6f6;
}
div.iPhone_container>div.Mac_mini>a:hover {
  background: url("img/Mac-Mini-M1.png") 30% 110%/100% no-repeat #f6f6f6;
}
div.iPhone_container>div.accessories>a:hover {
  background: url("img/air_pods_max.png") 30% 110%/110% no-repeat #f6f6f6;
}
/*lower menu start*/
div.lower_menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #f6f6f6;
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
}
div.lower_menu>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 43px;
  margin: 0;
  padding: 0 0 10px 0;
  list-style-type: none;
}
button.inactive {
  display: inline-block;
  color: #231f20;
  font-size: 24px;
  font-weight: lighter;
  padding: 0;
  cursor: pointer;
}
button.active {
  display: inline-block;
  color: #147ee8;
  border-bottom: dashed 1px;
  font-size: 24px;
  font-weight: lighter;
  padding: 0;
  cursor: pointer;
}
div.lower_menu>div.banners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 330px;
}
div.banners_1row {
  width: 100%;
  display: none;
}
div.show1>a, div.show2>a, div.show3>a {
  text-decoration: none;
  color: black;
}
div.show1>a:nth-of-type(1):hover, div.show1>a:nth-of-type(2):hover,
div.show1>a:nth-of-type(3):hover, div.show1>a:nth-of-type(4):hover,
div.show2>a:nth-of-type(1):hover, div.show2>a:nth-of-type(2):hover,
div.show2>a:nth-of-type(3):hover, div.show2>a:nth-of-type(4):hover,
div.show3>a:nth-of-type(1):hover, div.show3>a:nth-of-type(2):hover,
div.show3>a:nth-of-type(3):hover, div.show3>a:nth-of-type(4):hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}
div.show1>a:nth-of-type(1) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_1row_1.png") top/100% no-repeat;
}
div.show1>a:nth-of-type(2) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_1row_2.png") top/100% no-repeat;
}
div.show1>a:nth-of-type(3) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_1row_3.png") top/100% no-repeat;
}
div.show1>a:nth-of-type(4) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_1row_4.png") top/100% no-repeat;
}
div.show1>a>p:nth-of-type(1), div.show2>a>p:nth-of-type(1), div.show3>a>p:nth-of-type(1) {
  font-weight: bold;
  font-size: 16px;
}
div.show1>a>p:nth-of-type(2), div.show2>a>p:nth-of-type(2), div.show3>a>p:nth-of-type(2) {
  font-weight: lighter;
  font-size: 14px;
}
div.banners_2row {
  width: 100%;
  display: none;
}
div.show2>a:nth-of-type(1) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_2row_1.png") top/100% no-repeat;
}
div.show2>a:nth-of-type(2) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_2row_2.png") top/100% no-repeat;
}
div.show2>a:nth-of-type(3) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_2row_3.png") top/100% no-repeat;
}
div.show2>a:nth-of-type(4) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_2row_4.png") top/100% no-repeat;
}
div.banners_3row {
  width: 100%;
  display: none;
}
div.show3>a:nth-of-type(1) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_3row_1.png") top/100% no-repeat;
}
div.show3>a:nth-of-type(2) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_3row_2.png") top/100% no-repeat;
}
div.show3>a:nth-of-type(3) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_3row_3.png") top/100% no-repeat;
}
div.show3>a:nth-of-type(4) {
  width: 23%;
  height: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("img/lower_menu_3row_4.png") top/100% no-repeat;
}
div.show1, div.show2, div.show3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*lower menu end*/
div.oficial {
  width: 100%;
  margin: -60px 0 0 0;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
}
div.oficial>p:nth-of-type(1) {
  font-size: 44px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}
div.oficial>p:nth-of-type(2) {
  font-size: large;
  color: rgba(0, 0, 0, 0.6);
  line-height: 130%;
  text-align: justify;
}
div.oficial>p.hidden {
  display: none;
}
div.oficial>p.shown {
  display: block;
  font-size: large;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 30px 0;
  line-height: 130%;
  text-align: justify;
}
button.show_text, button.hide_text {
  font-size: 16px;
  color: #5ab9f8;
  margin: -10px 0 0 0;
}
button.hide_text {
  font-size: 16px;
  color: #5ab9f8;
}
button.show_text:hover, button.hide_text:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.6);
}
button.hide_text {
  display: none;
}
/*Goods start*/
div.top_main {
  width: 100%;
  padding: 40px 0 0 0;
  display: flex;
  justify-content: center;
  background: #f6f6f6;
}
div.top_main>div:nth-of-type(1) {
  width: 770px;
  height: 470px;
  text-align: right;
}
div.top_main>div:nth-of-type(1)>img {
  height: 100%;
}
div.top_main>div:nth-of-type(2) {
  height: 430px;
  padding: 110px 0 0 12px;
  box-sizing: border-box;
}
div.top_main>div:nth-of-type(2)>p {
  margin: 10px;
  font-size: 34px;
  font-weight: lighter;
}
div.cellphones {
  width: 1164px;
  margin: auto;
  position: relative;
  bottom: 94px;
  background: white;
  z-index: 1;
}
div.cellphones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 0;
  grid-template-areas: "cell1 cell2 cell3 cell4"
  "cell5 cell6 cell7 cell8";
}
  .cell1 {
    grid-area: cell1;
    height: 200px;
    border: solid 1px gainsboro;
  }
  .cell2 {
    grid-area: cell2;
    height: 200px;
    border: solid 1px gainsboro;
  }
  .cell3 {
    grid-area: cell3;
    height: 200px;
    border: solid 1px gainsboro;
  }
  .cell4 {
    grid-area: cell4;
    height: 200px;
    border: solid 1px gainsboro;
  }
  .cell5 {
    grid-area: cell5;
    height: 200px;
    border: solid 1px gainsboro;
  }
  .cell6 {
    grid-area: cell6;
    height: 200px;
    border: solid 1px gainsboro;
  }
  .cell7 {
    grid-area: cell7;
    height: 200px;
    border: solid 1px gainsboro;
  }
  .cell8 {
    grid-area: cell8;
    height: 200px;
    border: solid 1px gainsboro;
  }
  div.cellphones>div.cell a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
div.cellphones>div.cell1 a {
  background: url("img_goods/iphone_12_black_246x200.webp") center/50% no-repeat;
}
div.cellphones>div.cell2 a {
  background: url("img_goods/iphone_12_pro_graphite_246x200.webp") center/50% no-repeat;
}
div.cellphones>div.cell3 a {
  background: url("img_goods/iphone_12_pro_max_gold_246x200.webp") center/50% no-repeat;
}
div.cellphones>div.cell4 a {
  background: url("img_goods/iphone_12_mini_white_246x200.webp") center/50% no-repeat;
}
div.cellphones>div.cell5 a {
  background: url("img_goods/ipse_246x200.webp") center/50% no-repeat;
}
div.cellphones>div.cell6 a {
  background: url("img_goods/iphone_11.webp") center/80% no-repeat;
}
div.cellphones>div.cell7 a {
  background: url("img_goods/xr_ic.webp") center/80% no-repeat;
}
div.cellphones>div.cell8 a {
  background: url("img_goods/3-light-2.webp") center/45% no-repeat;
}
span.new {
  display: inline-block;
  width: 48px;
  height: 20px;
  border-radius: 10px;
  background: #7bce29;
  color: white;
  text-align: center;
  font-weight: lighter;
  margin: 8px 0 0 8px;
}
span.action {
  display: inline-block;
  width: 62px;
  height: 20px;
  border-radius: 10px;
  background: rgba(231, 31, 31, 0.8);
  color: white;
  text-align: center;
  font-weight: lighter;
  margin: 8px 0 0 8px;
}
div.cellphones>div.cell a>p {
  color: black;
  text-align: center;
  font-size: large;
  font-weight: lighter;
  position: relative;
  top: 10px;
}
div.cellphones>div.cell:hover {
  border: solid blueviolet 1px;
  transition: 0.4s;
}
div.cellphones>div.cell1 a:hover {
  background: url("img_goods/iphone_12_black_246x200.webp") center/58% no-repeat;
  transition: 0.4s;
}
div.cellphones>div.cell2 a:hover {
  background: url("img_goods/iphone_12_pro_graphite_246x200.webp") center/58% no-repeat;
  transition: 0.4s;
}
div.cellphones>div.cell3 a:hover {
  background: url("img_goods/iphone_12_pro_max_gold_246x200.webp") center/58% no-repeat;
  transition: 0.4s;
}
div.cellphones>div.cell4 a:hover {
  background: url("img_goods/iphone_12_mini_white_246x200.webp") center/58% no-repeat;
  transition: 0.4s;
}
div.cellphones>div.cell5 a:hover {
  background: url("img_goods/ipse_246x200.webp") center/58% no-repeat;
  transition: 0.4s;
}
div.cellphones>div.cell6 a:hover {
  background: url("img_goods/iphone_11.webp") center/90% no-repeat;
  transition: 0.4s;
}
div.cellphones>div.cell7 a:hover {
  background: url("img_goods/xr_ic.webp") center/90% no-repeat;
  transition: 0.4s;
}
div.cellphones>div.cell8 a:hover {
  background: url("img_goods/3-light-2.webp") center/52% no-repeat;
  transition: 0.4s;
}
/*Goods end*/
/*Goods iPhone start*/
p.title_phone {
  background: rgba(220, 220, 220, 0.8);
  margin: 0;
  padding: 8px 0 8px 30px;
  font-size: 46px;
  font-weight: lighter;
}
main table {
  width: 96%;
  margin: 50px auto;
}
main table tr:nth-of-type(1)>td:nth-of-type(1) {
  width: 25%;
  background: rgba(220, 220, 220, 0.3);
}
div.side_filter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
div.side_filter>p {
  font-size: x-large;
  margin: 10px 0 -10px 0;
  text-align: center;
}
main table tr:nth-of-type(1)>td:nth-of-type(2) {
  padding: 0 0 0 10px;
  height: 60px;
}
main table tr:nth-of-type(2)>td {
  border: solid 2px transparent;
  box-sizing: border-box;
  padding: 5px;
}
main table tr:nth-of-type(1)>td:nth-of-type(2) p {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
}
main table tr:nth-of-type(1)>td:nth-of-type(2)>button {
  display: inline-block;
  height: 30px;
  border: solid 1px rgba(123, 206, 41, 0.5);
  border-radius: 15px;
  background: rgba(123, 206, 41, 0.5);
  margin: 0 10px 0 10px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.7);
}
main table tr:nth-of-type(1)>td:nth-of-type(2)>button:hover {
  color: white;
  border: solid 1px rgba(12, 179, 231, 0.8);
  background: rgba(12, 179, 231, 0.8);
  transition: .5s;
}
div.colors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.colors>a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 330px 0 0 10px;
}
div.colors>a:hover {
  color: #0525f5;
}
button.buy {
  display: block;
  background: url("img/shopping_blue.svg") center/60% no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 1px gainsboro;
  position: relative;
  bottom: 60px;
  left: 226px;
}
button.buy:hover {
  background: url("img/shopping.svg") center/60% no-repeat rgba(140, 70, 205, 0.8);
  transition: 0.5s;
}
p.articul {
  font-size: small;
  color: rgba(0, 0, 0, 0.6);
  margin: 5px 0 0 10px;
}
p.price {
  font-size: 20px;
  margin: 10px 0 10px 10px;
}
p.price>span.last_price {
  font-size: 16px;
  color: orangered;
  text-decoration: line-through;
}
div.iPhone12_container {
  text-align: left;
  padding: 0;
  margin: 0;
}
.green_64 {
display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/green12.webp") 50% 30%/80% no-repeat;
}
.black_64 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/black12.webp") 50% 30%/80% no-repeat;
}
.white_64 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/white12.webp") 50% 30%/80% no-repeat;
}
.red_64 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/red12.webp") 50% 30%/80% no-repeat;
}
.blue_64 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/blue12.webp") 50% 30%/80% no-repeat;
}
.purple_64 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/purple12.webp") 50% 30%/80% no-repeat;
}
.black_128 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/black12.webp") 50% 30%/80% no-repeat;
}
.white_128 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/white12.webp") 50% 30%/80% no-repeat;
}
.blue_128 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/blue12.webp") 50% 30%/80% no-repeat;
}
.green_128 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/green12.webp") 50% 30%/80% no-repeat;
}
.red_128 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/red12.webp") 50% 30%/80% no-repeat;
}
.purple_128 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/purple12.webp") 50% 30%/80% no-repeat;
}
.black_256 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/black12.webp") 50% 30%/80% no-repeat;
}
.white_256 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/white12.webp") 50% 30%/80% no-repeat;
}
.blue_256 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/blue12.webp") 50% 30%/80% no-repeat;
}
.purple_256 {
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  width: 32%;
  height: 490px;
  border: solid 1px gainsboro;
  background: url("img_goods_iPhones/purple12.webp") 50% 30%/80% no-repeat;
}
.green_64:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/green12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.black_64:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.white_64:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.red_64:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/red12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.blue_64:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.purple_64:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.black_128:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.white_128:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.blue_128:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.green_128:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/green12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.red_128:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/red12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.purple_128:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.black_256:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.white_256:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.blue_256:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
.purple_256:hover {
  border: #8c46cd solid 1px;
  background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
  transform: scale(1.03);
  transition: 0.5s;
}
ul.choose_color li, ul.choose_memory li {
  display: block;
  cursor: pointer;
  border-radius: 10px;
  height: 42px;
  width: 75%;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px 0 10px 5px;
  text-align: center;
  font-size: large;
}
ul.choose_color li:hover, ul.choose_memory li:hover {
  border: #8c46cd solid 1px;
  transform: scale(1.1);
  transition: 0.4s;
}
.li_all {
  background: linear-gradient(90deg, purple, blue, red);
  color: white;
  opacity: 0.33;
}
.li_red {
  background: red;
  color: white;
  opacity: 0.33;
}
.li_white {
  background: white;
  color: black;
  opacity: 0.33;
}
.li_green {
  background: #7bce29;
  color: white;
  opacity: 0.33;
}
.li_blue {
  background: darkblue;
  color: white;
  opacity: 0.33;
}
.li_purple {
  background: purple;
  color: white;
  opacity: 0.33;
}
.li_black {
  background: black;
  color: white;
  opacity: 0.33;
}
.li_all_visible {
  background: linear-gradient(90deg, purple, blue, red);
  color: white;
  opacity: 1;
  font-weight: bold;
  border: solid black 1px;
}
.li_red_visible {
  background: red;
  color: white;
  opacity: 1;
  font-weight: bold;
  border: solid black 1px;
}
.li_white_visible {
  background: white;
  color: black;
  opacity: 1;
  font-weight: bold;
  border: solid black 1px;
}
.li_green_visible {
  background: #7bce29;
  color: white;
  opacity: 1;
  font-weight: bold;
  border: solid black 1px;
}
.li_blue_visible {
  background: darkblue;
  color: white;
  opacity: 1;
  font-weight: bold;
  border: solid black 1px;
}
.li_purple_visible {
  background: purple;
  color: white;
  opacity: 1;
  font-weight: bold;
  border: solid black 1px;
}
.li_black_visible {
  background: black;
  color: white;
  opacity: 1;
  font-weight: bold;
  border: solid black 1px;
}
.li_memory {
  background: white;
  color: black;
  opacity: 0.33;
  border: solid black 1px;
}
.li_memory_visible {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 1;
  font-weight: bold;
  border: solid #8c46cd 1px;
}
.hide {
  display: none;
}