@media screen and (min-width: 1289px) and (max-width: 1361px) {
    div.our_services>div>p {
        height: 288px;
    }
}
@media screen and (min-width: 1095px) and (max-width: 1288px) {
    div.legal_entities {
        padding: 10px 80px 10px 80px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 38px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 550px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden1 {
        display: block;
        margin: 0 30px 0 30px;
    }
    div.our_services_hidden1 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden1 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden1 > div > p {
        display: block;
        width: 31%;
        height: 240px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 18px;
        line-height: 140%;
        padding: 20px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 985px) and (max-width: 1094px) {
    td {
        min-width: 150px;
    }
    div.legal_entities {
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 36px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 500px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden1 {
        display: block;
        margin: 0 30px 0 30px;
    }
    div.our_services_hidden1 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden1 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden1 > div > p {
        display: block;
        width: 31%;
        height: 280px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 18px;
        line-height: 140%;
        padding: 15px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 890px) and (max-width: 984px) {
    td {
        min-width: 130px;
    }
    div.legal_entities {
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 34px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 470px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden1 {
        display: block;
        margin: 0 28px 0 28px;
    }
    div.our_services_hidden1 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden1 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden1 > div > p {
        display: block;
        width: 31%;
        height: 280px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 16px;
        line-height: 140%;
        padding: 15px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 834px) and (max-width: 889px) {

}
@media screen and (min-width: 730px) and (max-width: 833px) {

}
@media screen and (min-width: 623px) and (max-width: 729px) {

}
@media screen and (min-width: 485px) and (max-width: 622px) {

}
@media screen and (min-width: 466px) and (max-width: 484px) {

}
@media screen and (min-width: 320px) and (max-width: 465px) {
}