@media screen and (min-width: 1289px) and (max-width: 1361px) {
    a.installment_payment {
        font-size: 21px;
    }
    a.installment_payment>span {
        font-size: 31px;
    }
    div.menu a.store_name, footer>div>a.store_name {
        font-size: 29px;
    }
    nav.goods>ul li a, nav.other>ul li a {
        font-size: 15px;
        padding: 5px 18px 21px 14px;
    }
    div.airpods_container>div:nth-of-type(1) {
    background: url(img/iPods2.jpeg) 0 38%/40% no-repeat #f6f6f6;
    }
    div.airpods_container>div:nth-of-type(2) {
        background: url(img/cases.jpeg) 0 38%/42% no-repeat #f6f6f6;
    }
    div.airpods_container>div:nth-of-type(3) {
        background: url(img/iPhones.jpeg) 0 38%/33% no-repeat #f6f6f6;
    }
    div.iPhone {
        height: 685px;
        background: url("img/iPhone12_transp.png") 50% 120%/270% no-repeat #f6f6f6;
    }
    div.Mac {
        height: 340px;
        background: url("img/YourPng.com - 2163x700.png") 50% 80%/62% no-repeat #f6f6f6;
    }
    div.iPad {
        height: 340px;
        background: url("img/iPad_transp.png") 30% 80%/99% no-repeat #f6f6f6;
    }
    div.smart_home {
        height: 340px;
        background: url("img/smart_home.png") 50% 130%/75% no-repeat #f6f6f6;
    }
    div.Mac_mini {
        height: 340px;
        background: url("img/macmini.png") 50% 88%/86% no-repeat #f6f6f6;
    }
    div.accessories {
        height: 340px;
        background: url("img/airpods_max.png") 50% 87%/72% no-repeat #f6f6f6;
    }
}
@media screen and (min-width: 1217px) and (max-width: 1288px) {
    a.installment_payment {
        padding: 6px 18px 0 18px;
        font-size: 20px;
    }
    a.installment_payment>span {
        font-size: 28px;
    }
    nav.goods>ul li a, nav.other>ul li a {
        font-size: 14px;
        padding: 5px 16px 21px 13px;
    }
    div.airpods_container>div:nth-of-type(1) {
        background: url(img/iPods2.jpeg) 0 38%/40% no-repeat #f6f6f6;
    }
    div.airpods_container>div:nth-of-type(2) {
        background: url(img/cases.jpeg) 0 38%/42% no-repeat #f6f6f6;
    }
    div.airpods_container>div:nth-of-type(3) {
        background: url(img/iPhones.jpeg) 0 38%/33% no-repeat #f6f6f6;
    }
    div.iPhone {
        height: 675px;
        background: url("img/iPhone12_transp.png") 50% 120%/270% no-repeat #f6f6f6;
    }
    div.Mac {
        height: 335px;
        background: url("img/YourPng.com - 2163x700.png") 50% 80%/62% no-repeat #f6f6f6;
    }
    div.iPad {
        height: 335px;
        background: url("img/iPad_transp.png") 30% 80%/99% no-repeat #f6f6f6;
    }
    div.smart_home {
        height: 335px;
        background: url("img/smart_home.png") 50% 130%/75% no-repeat #f6f6f6;
    }
    div.Mac_mini {
        height: 335px;
        background: url("img/macmini.png") 50% 88%/86% no-repeat #f6f6f6;
    }
    div.accessories {
        height: 335px;
        background: url("img/airpods_max.png") 50% 87%/72% no-repeat #f6f6f6;
    }
}
@media screen and (min-width: 1114px) and (max-width: 1216px) {
    a.installment_payment {
        padding: 8px 12px 0 12px;
        font-size: 18px;
    }
    a.installment_payment > span {
        font-size: 25px;
    }
    nav.goods > ul li a, nav.other > ul li a {
        font-size: 13px;
        padding: 5px 15px 23px 12px;
    }
    div.empty {
        width: 90px;
    }
    div.airpods_container>div:nth-of-type(1) {
        background: url(img/iPods2.jpeg) 0 38%/40% no-repeat #f6f6f6;
    }
    div.airpods_container>div:nth-of-type(2) {
        background: url(img/cases.jpeg) 0 38%/42% no-repeat #f6f6f6;
    }
    div.airpods_container>div:nth-of-type(3) {
        background: url(img/iPhones.jpeg) 0 38%/33% no-repeat #f6f6f6;
    }
    div.airpods_container>div>a>div>p:nth-of-type(1) {
        font-size: large;
    }
    div.iPhone {
        height: 665px;
        background: url("img/iPhone12_transp.png") 50% 120%/270% no-repeat #f6f6f6;
    }
    div.Mac {
        height: 330px;
        background: url("img/YourPng.com - 2163x700.png") 50% 80%/62% no-repeat #f6f6f6;
    }
    div.iPad {
        height: 330px;
        background: url("img/iPad_transp.png") 30% 80%/99% no-repeat #f6f6f6;
    }
    div.smart_home {
        height: 330px;
        background: url("img/smart_home.png") 50% 120%/75% no-repeat #f6f6f6;
    }
    div.Mac_mini {
        height: 330px;
        background: url("img/macmini.png") 50% 88%/86% no-repeat #f6f6f6;
    }
    div.accessories {
        height: 330px;
        background: url("img/airpods_max.png") 50% 87%/72% no-repeat #f6f6f6;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1114px) {
    a.installment_payment {
        padding: 2px 2px 0 2px;
        font-size: 16px;
    }
    a.installment_payment>span {
        font-size: 28px;
    }
    div.empty {
        display: none;
    }
    div.airpods_container>div:nth-of-type(1) {
        background: url(img/iPods2.jpeg) 0 38%/40% no-repeat #f6f6f6;
    }
    div.airpods_container>div:nth-of-type(2) {
        background: url(img/cases.jpeg) 0 38%/42% no-repeat #f6f6f6;
    }
    div.airpods_container>div:nth-of-type(3) {
        background: url(img/iPhones.jpeg) 0 38%/33% no-repeat #f6f6f6;
    }
    div.airpods_container>div>a>div>p:nth-of-type(1) {
        font-size: large;
    }
    div.iPhone {
        height: 655px;
        background: url("img/iPhone12_transp.png") 50% 120%/270% no-repeat #f6f6f6;
    }
    div.Mac {
        height: 325px;
        background: url("img/YourPng.com - 2163x700.png") 50% 80%/62% no-repeat #f6f6f6;
    }
    div.iPad {
        height: 325px;
        background: url("img/iPad_transp.png") 30% 80%/99% no-repeat #f6f6f6;
    }
    div.smart_home {
        height: 325px;
        background: url("img/smart_home.png") 50% 120%/75% no-repeat #f6f6f6;
    }
    div.Mac_mini {
        height: 325px;
        background: url("img/macmini.png") 50% 88%/86% no-repeat #f6f6f6;
    }
    div.accessories {
        height: 325px;
        background: url("img/airpods_max.png") 50% 87%/72% no-repeat #f6f6f6;
    }
}

