@media screen and (min-width: 1290px) and (max-width: 3000px) {
    div.order_of_goods div {
        width: 31%;
    }
}
@media screen and (min-width: 1289px) and (max-width: 1361px) {
    div.order_of_goods div {
        width: 31%;
    }
    div.our_services>div>p {
        height: 288px;
    }
}
@media screen and (min-width: 1095px) and (max-width: 1288px) {
    div.order_of_goods div {
        width: 31%;
    }
    div.legal_entities {
        padding: 10px 80px 10px 80px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 38px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 550px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden1 {
        display: block;
        margin: 0 30px 0 30px;
    }
    div.our_services_hidden1 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden1 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden1 > div > p {
        display: block;
        width: 31%;
        height: 240px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 18px;
        line-height: 140%;
        padding: 20px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 985px) and (max-width: 1094px) {
    div.order_of_goods div {
        width: 31%;
    }
    td {
        min-width: 140px;
    }
    div.legal_entities {
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 36px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 500px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden1 {
        display: block;
        margin: 0 30px 0 30px;
    }
    div.our_services_hidden1 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden1 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden1 > div > p {
        display: block;
        width: 31%;
        height: 280px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 18px;
        line-height: 140%;
        padding: 15px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 890px) and (max-width: 984px) {
    div.order_of_goods div {
        width: 31%;
    }
    td {
        min-width: 110px;
    }
    td>a {
        padding: 50px 0 0 0;
    }
    div.legal_entities {
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 34px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 470px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden1 {
        display: block;
        margin: 0 28px 0 28px;
    }
    div.our_services_hidden1 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden1 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden1 > div > p {
        display: block;
        width: 31%;
        height: 280px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 16px;
        line-height: 140%;
        padding: 15px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 834px) and (max-width: 889px) {
    p.title_info {
        font-size: 40px;
    }
    div.order_of_goods div {
        width: 31%;
    }
    td {
        min-width: 90px;
    }
    td>a {
        padding: 50px 0 0 0;
        font-size: medium;
    }
    div.legal_entities {
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 34px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 470px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden1 {
        display: block;
        margin: 0 28px 0 28px;
    }
    div.our_services_hidden1 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden1 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden1 > div > p {
        display: block;
        width: 31%;
        height: 280px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 16px;
        line-height: 140%;
        padding: 15px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 730px) and (max-width: 833px) {
    p.title_info {
        font-size: 36px;
    }
    div.order_of_goods:nth-of-type(1) {
        margin: 0 0 -250px 0;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block1 { grid-area: 1 / 1 / 2 / 2;
        height: 440px;
        margin: 0 10px 15px 10px;
        padding: 5px;
    }
    div.order_of_goods_block2 { grid-area: 2 / 1 / 3 / 2;
        height: 380px;
        margin: 0 10px 5px 10px;
        padding: 5px;
    }
    div.order_of_goods_block3 { grid-area: 3 / 1 / 4 / 2;
        height: 250px;
        margin: -50px 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods:nth-of-type(2) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block4 { grid-area: 1 / 1 / 2 / 2;
        height: 220px;
        margin: 0 10px 0 10px;
        padding: 5px;
    }
    div.order_of_goods_block5 { grid-area: 2 / 1 / 3 / 2;
        height: 600px;
        margin: -200px 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block6 { grid-area: 3 / 1 / 4 / 2;
        height: 210px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods:nth-of-type(3) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block7 { grid-area: 1 / 1 / 2 / 2;
        height: 220px;
        margin: -200px 10px 0 10px;
        padding: 5px;
    }
    div.order_of_goods_block8 { grid-area: 2 / 1 / 3 / 2;
        height: 300px;
        margin: -150px 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block9 { grid-area: 3 / 1 / 4 / 2;
        height: 210px;
        margin: -40px 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods:nth-of-type(4) {
        height: 640px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block10 { grid-area: 1 / 1 / 2 / 2;
        height: 220px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block11 { grid-area: 2 / 1 / 3 / 2;
        height: 190px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block12 { grid-area: 3 / 1 / 4 / 2;
        height: 170px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods:nth-of-type(5) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block13 { grid-area: 1 / 1 / 2 / 2;
        height: 130px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block14 { grid-area: 2 / 1 / 3 / 2;
        height: 100px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block15 { grid-area: 3 / 1 / 4 / 2;
        height: 120px;
        margin: -30px 10px 10px 10px;
        padding: 5px;
    }
    table.table_visible {
        display: none;
    }
    div.table_hidden {
        display: block;
    }
    td>a {
        padding: 0;
    }
    div.online_credit>img {
        width: 360px;
    }
    div.legal_entities {
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 34px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 470px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.legal_entities>div>p:nth-of-type(2) {
        font-size: 18px;
    }
    div.how_to_order {
        width: 100%;
        padding: 20px 30px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    div.how_to_order>div {
        width: 100%;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden1 {
        display: block;
        margin: 0 28px 0 28px;
    }
    div.our_services_hidden1 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden1 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden1 > div > p {
        display: block;
        width: 31%;
        height: 330px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 16px;
        line-height: 140%;
        padding: 15px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 623px) and (max-width: 729px) {
    p.title_info {
        font-size: 36px;
    }
    div.order_of_goods:nth-of-type(1) {
        margin: 0 0 -250px 0;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block1 { grid-area: 1 / 1 / 2 / 2;
        height: 480px;
        margin: 0 10px 15px 10px;
        padding: 5px;
    }
    div.order_of_goods_block2 { grid-area: 2 / 1 / 3 / 2;
        height: 430px;
        margin: 0 10px 5px 10px;
        padding: 5px;
    }
    div.order_of_goods_block3 { grid-area: 3 / 1 / 4 / 2;
        height: 290px;
        margin: -50px 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods:nth-of-type(2) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block4 { grid-area: 1 / 1 / 2 / 2;
        height: 220px;
        margin: 0 10px 0 10px;
        padding: 5px;
    }
    div.order_of_goods_block5 { grid-area: 2 / 1 / 3 / 2;
        height: 640px;
        margin: -210px 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block6 { grid-area: 3 / 1 / 4 / 2;
        height: 210px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods:nth-of-type(3) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block7 { grid-area: 1 / 1 / 2 / 2;
        height: 240px;
        margin: -220px 10px 0 10px;
        padding: 5px;
    }
    div.order_of_goods_block8 { grid-area: 2 / 1 / 3 / 2;
        height: 310px;
        margin: -150px 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block9 { grid-area: 3 / 1 / 4 / 2;
        height: 210px;
        margin: -20px 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods:nth-of-type(4) {
        height: 710px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block10 { grid-area: 1 / 1 / 2 / 2;
        height: 250px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block11 { grid-area: 2 / 1 / 3 / 2;
        height: 190px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block12 { grid-area: 3 / 1 / 4 / 2;
        height: 190px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods:nth-of-type(5) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px 4px;
    }
    div.order_of_goods_block13 { grid-area: 1 / 1 / 2 / 2;
        height: 130px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block14 { grid-area: 2 / 1 / 3 / 2;
        height: 100px;
        margin: 0 10px 10px 10px;
        padding: 5px;
    }
    div.order_of_goods_block15 { grid-area: 3 / 1 / 4 / 2;
        height: 120px;
        margin: -30px 10px 10px 10px;
        padding: 5px;
    }
    table.table_visible {
        display: none;
    }
    div.table_hidden {
        display: block;
    }
    td>a {
        padding: 0;
    }
    div.online_credit>img {
        width: 280px;
    }
    div.legal_entities {
        padding: 10px 10px 10px 10px;
        display: flex;
        justify-content: space-between;
    }
    div.legal_entities>div>p:nth-of-type(1) {
        font-size: 32px;
        font-weight: bold;
    }
    div.legal_entities>div:nth-of-type(2) {
        width: 360px;
        background: url("img/b2b-page-base-banner.png") center/100% no-repeat;
    }
    div.legal_entities>div>p:nth-of-type(2) {
        font-size: 16px;
    }
    div.how_to_order {
        width: 100%;
        padding: 20px 30px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    div.how_to_order>div {
        width: 100%;
    }
    div.our_services {
        display: none;
    }
    div.our_services_hidden2 {
        display: block;
        margin: 0 28px 0 28px;
    }
    div.our_services_hidden2 > p {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
    }
    div.our_services_hidden2 > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    div.our_services_hidden2 > div > p {
        display: block;
        width: 45%;
        height: 250px;
        box-shadow: 3px 3px 10px 3px rgba(220, 220, 220, 0.9);
        font-size: 16px;
        line-height: 140%;
        padding: 15px;
        margin: 10px 5px 10px 5px;
        border-radius: 20px;
        color: rgba(0, 0, 0, 0.8);
    }
}
@media screen and (min-width: 485px) and (max-width: 622px) {

}
@media screen and (min-width: 466px) and (max-width: 484px) {

}
@media screen and (min-width: 320px) and (max-width: 465px) {
}