@media screen and (min-width: 2901px) and (max-width: 3400px) {
    .green_64 {
        background: url("img_goods_iPhones/green12.webp") 70% 30%/50% no-repeat;
    }
    .black_64 {
        background: url("img_goods_iPhones/black12.webp") 70% 30%/50% no-repeat;
    }
    .white_64 {
        background: url("img_goods_iPhones/white12.webp") 70% 30%/50% no-repeat;
    }
    .red_64 {
        background: url("img_goods_iPhones/red12.webp") 70% 30%/50% no-repeat;
    }
    .blue_64 {
        background: url("img_goods_iPhones/blue12.webp") 70% 30%/50% no-repeat;
    }
    .purple_64 {
        background: url("img_goods_iPhones/purple12.webp") 70% 30%/50% no-repeat;
    }
    .black_128 {
        background: url("img_goods_iPhones/black12.webp") 70% 30%/50% no-repeat;
    }
    .white_128 {
        background: url("img_goods_iPhones/white12.webp") 70% 30%/50% no-repeat;
    }
    .blue_128 {
        background: url("img_goods_iPhones/blue12.webp") 70% 30%/50% no-repeat;
    }
    .green_128 {
        background: url("img_goods_iPhones/green12.webp") 70% 30%/50% no-repeat;
    }
    .red_128 {
        background: url("img_goods_iPhones/red12.webp") 70% 30%/50% no-repeat;
    }
    .purple_128 {
        background: url("img_goods_iPhones/purple12.webp") 70% 30%/50% no-repeat;
    }
    .black_256 {
        background: url("img_goods_iPhones/black12.webp") 70% 30%/50% no-repeat;
    }
    .white_256 {
        background: url("img_goods_iPhones/white12.webp") 70% 30%/50% no-repeat;
    }
    .blue_256 {
        background: url("img_goods_iPhones/blue12.webp") 70% 30%/50% no-repeat;
    }
    .purple_256 {
        background: url("img_goods_iPhones/purple12.webp") 70% 30%/50% no-repeat;
    }
    button.buy {
        width: 90px;
        height: 90px;
        bottom: 90px;
        left: 80%;
    }
}
@media screen and (min-width: 2401px) and (max-width: 2900px) {
    .green_64 {
        background: url("img_goods_iPhones/green12.webp") 50% 10%/50% no-repeat;
    }
    .black_64 {
        background: url("img_goods_iPhones/black12.webp") 50% 10%/50% no-repeat;
    }
    .white_64 {
        background: url("img_goods_iPhones/white12.webp") 50% 10%/50% no-repeat;
    }
    .red_64 {
        background: url("img_goods_iPhones/red12.webp") 50% 10%/50% no-repeat;
    }
    .blue_64 {
        background: url("img_goods_iPhones/blue12.webp") 50% 10%/50% no-repeat;
    }
    .purple_64 {
        background: url("img_goods_iPhones/purple12.webp") 50% 10%/50% no-repeat;
    }
    .black_128 {
        background: url("img_goods_iPhones/black12.webp") 50% 10%/50% no-repeat;
    }
    .white_128 {
        background: url("img_goods_iPhones/white12.webp") 50% 10%/50% no-repeat;
    }
    .blue_128 {
        background: url("img_goods_iPhones/blue12.webp") 50% 10%/50% no-repeat;
    }
    .green_128 {
        background: url("img_goods_iPhones/green12.webp") 50% 10%/50% no-repeat;
    }
    .red_128 {
        background: url("img_goods_iPhones/red12.webp") 50% 10%/50% no-repeat;
    }
    .purple_128 {
        background: url("img_goods_iPhones/purple12.webp") 50% 10%/50% no-repeat;
    }
    .black_256 {
        background: url("img_goods_iPhones/black12.webp") 50% 10%/50% no-repeat;
    }
    .white_256 {
        background: url("img_goods_iPhones/white12.webp") 50% 10%/50% no-repeat;
    }
    .blue_256 {
        background: url("img_goods_iPhones/blue12.webp") 50% 10%/50% no-repeat;
    }
    .purple_256 {
        background: url("img_goods_iPhones/purple12.webp") 50% 10%/50% no-repeat;
    }
    button.buy {
        width: 90px;
        height: 90px;
        bottom: 90px;
        left: 75%;
    }
}
@media screen and (min-width: 2101px) and (max-width: 2400px) {
    .green_64 {
        background: url("img_goods_iPhones/green12.webp") 50% 15%/60% no-repeat;
    }
    .black_64 {
        background: url("img_goods_iPhones/black12.webp") 50% 15%/60% no-repeat;
    }
    .white_64 {
        background: url("img_goods_iPhones/white12.webp") 50% 15%/60% no-repeat;
    }
    .red_64 {
        background: url("img_goods_iPhones/red12.webp") 50% 15%/60% no-repeat;
    }
    .blue_64 {
        background: url("img_goods_iPhones/blue12.webp") 50% 15%/60% no-repeat;
    }
    .purple_64 {
        background: url("img_goods_iPhones/purple12.webp") 50% 15%/60% no-repeat;
    }
    .black_128 {
        background: url("img_goods_iPhones/black12.webp") 50% 15%/60% no-repeat;
    }
    .white_128 {
        background: url("img_goods_iPhones/white12.webp") 50% 15%/60% no-repeat;
    }
    .blue_128 {
        background: url("img_goods_iPhones/blue12.webp") 50% 15%/60% no-repeat;
    }
    .green_128 {
        background: url("img_goods_iPhones/green12.webp") 50% 15%/60% no-repeat;
    }
    .red_128 {
        background: url("img_goods_iPhones/red12.webp") 50% 15%/60% no-repeat;
    }
    .purple_128 {
        background: url("img_goods_iPhones/purple12.webp") 50% 15%/60% no-repeat;
    }
    .black_256 {
        background: url("img_goods_iPhones/black12.webp") 50% 15%/60% no-repeat;
    }
    .white_256 {
        background: url("img_goods_iPhones/white12.webp") 50% 15%/60% no-repeat;
    }
    .blue_256 {
        background: url("img_goods_iPhones/blue12.webp") 50% 15%/60% no-repeat;
    }
    .purple_256 {
        background: url("img_goods_iPhones/purple12.webp") 50% 15%/60% no-repeat;
    }
    button.buy {
        width: 90px;
        height: 90px;
        bottom: 90px;
        left: 75%;
    }
}
@media screen and (min-width: 1900px) and (max-width: 2100px) {
    .green_64 {
        background: url("img_goods_iPhones/green12.webp") 50% 10%/70% no-repeat;
    }
    .black_64 {
        background: url("img_goods_iPhones/black12.webp") 50% 10%/70% no-repeat;
    }
    .white_64 {
        background: url("img_goods_iPhones/white12.webp") 50% 10%/70% no-repeat;
    }
    .red_64 {
        background: url("img_goods_iPhones/red12.webp") 50% 10%/70% no-repeat;
    }
    .blue_64 {
        background: url("img_goods_iPhones/blue12.webp") 50% 10%/70% no-repeat;
    }
    .purple_64 {
        background: url("img_goods_iPhones/purple12.webp") 50% 10%/70% no-repeat;
    }
    .black_128 {
        background: url("img_goods_iPhones/black12.webp") 50% 10%/70% no-repeat;
    }
    .white_128 {
        background: url("img_goods_iPhones/white12.webp") 50% 10%/70% no-repeat;
    }
    .blue_128 {
        background: url("img_goods_iPhones/blue12.webp") 50% 10%/70% no-repeat;
    }
    .green_128 {
        background: url("img_goods_iPhones/green12.webp") 50% 10%/70% no-repeat;
    }
    .red_128 {
        background: url("img_goods_iPhones/red12.webp") 50% 10%/70% no-repeat;
    }
    .purple_128 {
        background: url("img_goods_iPhones/purple12.webp") 50% 10%/70% no-repeat;
    }
    .black_256 {
        background: url("img_goods_iPhones/black12.webp") 50% 10%/70% no-repeat;
    }
    .white_256 {
        background: url("img_goods_iPhones/white12.webp") 50% 10%/70% no-repeat;
    }
    .blue_256 {
        background: url("img_goods_iPhones/blue12.webp") 50% 10%/70% no-repeat;
    }
    .purple_256 {
        background: url("img_goods_iPhones/purple12.webp") 50% 10%/70% no-repeat;
    }
    button.buy {
        width: 86px;
        height: 86px;
        bottom: 90px;
        left: 73%;
    }
}
@media screen and (min-width: 1650px) and (max-width: 1899px) {
    .green_64 {
        background: url("img_goods_iPhones/green12.webp") 50% 20%/70% no-repeat;
    }
    .black_64 {
        background: url("img_goods_iPhones/black12.webp") 50% 20%/70% no-repeat;
    }
    .white_64 {
        background: url("img_goods_iPhones/white12.webp") 50% 20%/70% no-repeat;
    }
    .red_64 {
        background: url("img_goods_iPhones/red12.webp") 50% 20%/70% no-repeat;
    }
    .blue_64 {
        background: url("img_goods_iPhones/blue12.webp") 50% 20%/70% no-repeat;
    }
    .purple_64 {
        background: url("img_goods_iPhones/purple12.webp") 50% 20%/70% no-repeat;
    }
    .black_128 {
        background: url("img_goods_iPhones/black12.webp") 50% 20%/70% no-repeat;
    }
    .white_128 {
        background: url("img_goods_iPhones/white12.webp") 50% 20%/70% no-repeat;
    }
    .blue_128 {
        background: url("img_goods_iPhones/blue12.webp") 50% 20%/70% no-repeat;
    }
    .green_128 {
        background: url("img_goods_iPhones/green12.webp") 50% 20%/70% no-repeat;
    }
    .red_128 {
        background: url("img_goods_iPhones/red12.webp") 50% 20%/70% no-repeat;
    }
    .purple_128 {
        background: url("img_goods_iPhones/purple12.webp") 50% 20%/70% no-repeat;
    }
    .black_256 {
        background: url("img_goods_iPhones/black12.webp") 50% 20%/70% no-repeat;
    }
    .white_256 {
        background: url("img_goods_iPhones/white12.webp") 50% 20%/70% no-repeat;
    }
    .blue_256 {
        background: url("img_goods_iPhones/blue12.webp") 50% 20%/70% no-repeat;
    }
    .purple_256 {
        background: url("img_goods_iPhones/purple12.webp") 50% 20%/70% no-repeat;
    }
    button.buy {
        width: 82px;
        height: 82px;
        bottom: 86px;
        left: 71%;
    }
}
@media screen and (min-width: 1500px) and (max-width: 1649px) {
    button.buy {
        width: 72px;
        height: 72px;
        bottom: 74px;
        left: 71%;
    }
}
@media screen and (min-width: 1371px) and (max-width: 1499px) {
    button.buy {
        width: 62px;
        height: 62px;
        bottom: 66px;
        left: 67%;
    }
}
@media screen and (min-width: 1240px) and (max-width: 1370px) {
    div.colors>a {
        font-size: 18px;
    }
    .green_64 {
        background: url("img_goods_iPhones/green12.webp") 50% 30%/90% no-repeat;
    }
    .black_64 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
    }
    .white_64 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
    }
    .red_64 {
        background: url("img_goods_iPhones/red12.webp") 50% 30%/90% no-repeat;
    }
    .blue_64 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
    }
    .purple_64 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
    }
    .black_128 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
    }
    .white_128 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
    }
    .blue_128 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
    }
    .green_128 {
        background: url("img_goods_iPhones/green12.webp") 50% 30%/90% no-repeat;
    }
    .red_128 {
        background: url("img_goods_iPhones/red12.webp") 50% 30%/90% no-repeat;
    }
    .purple_128 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
    }
    .black_256 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
    }
    .white_256 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
    }
    .blue_256 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
    }
    .purple_256 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
    }
    button.buy {
        width: 62px;
        height: 62px;
        bottom: 60px;
        left: 65%;
    }
}
@media screen and (min-width: 1110px) and (max-width: 1239px) {
    div.colors>a {
        font-size: 16px;
    }
    .green_64 {
        background: url("img_goods_iPhones/green12.webp") 50% 30%/100% no-repeat;
    }
    .black_64 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/100% no-repeat;
    }
    .white_64 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/100% no-repeat;
    }
    .red_64 {
        background: url("img_goods_iPhones/red12.webp") 50% 30%/100% no-repeat;
    }
    .blue_64 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/100% no-repeat;
    }
    .purple_64 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/100% no-repeat;
    }
    .black_128 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/100% no-repeat;
    }
    .white_128 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/100% no-repeat;
    }
    .blue_128 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/100% no-repeat;
    }
    .green_128 {
        background: url("img_goods_iPhones/green12.webp") 50% 30%/100% no-repeat;
    }
    .red_128 {
        background: url("img_goods_iPhones/red12.webp") 50% 30%/100% no-repeat;
    }
    .purple_128 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/100% no-repeat;
    }
    .black_256 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/100% no-repeat;
    }
    .white_256 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/100% no-repeat;
    }
    .blue_256 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/100% no-repeat;
    }
    .purple_256 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/100% no-repeat;
    }
    button.buy {
        width: 60px;
        height: 60px;
        bottom: 58px;
        left: 65%;
    }
}
@media screen and (min-width: 1050px) and (max-width: 1109px) {
    div.colors>a {
        font-size: 15px;
    }
    .green_64 {
        background: url("img_goods_iPhones/green12.webp") 50% 30%/110% no-repeat;
    }
    .black_64 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/110% no-repeat;
    }
    .white_64 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/110% no-repeat;
    }
    .red_64 {
        background: url("img_goods_iPhones/red12.webp") 50% 30%/110% no-repeat;
    }
    .blue_64 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/110% no-repeat;
    }
    .purple_64 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/110% no-repeat;
    }
    .black_128 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/110% no-repeat;
    }
    .white_128 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/110% no-repeat;
    }
    .blue_128 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/110% no-repeat;
    }
    .green_128 {
        background: url("img_goods_iPhones/green12.webp") 50% 30%/110% no-repeat;
    }
    .red_128 {
        background: url("img_goods_iPhones/red12.webp") 50% 30%/110% no-repeat;
    }
    .purple_128 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/110% no-repeat;
    }
    .black_256 {
        background: url("img_goods_iPhones/black12.webp") 50% 30%/110% no-repeat;
    }
    .white_256 {
        background: url("img_goods_iPhones/white12.webp") 50% 30%/110% no-repeat;
    }
    .blue_256 {
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/110% no-repeat;
    }
    .purple_256 {
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/110% no-repeat;
    }
    button.buy {
        width: 56px;
        height: 56px;
        bottom: 50px;
        left: 64%;
    }
}
@media screen and (min-width: 1004px) and (max-width: 1049px) {
    div.colors>a {
        font-size: 18px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 35%;
    }
    .green_64 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/90% no-repeat;
    }
    .black_64 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
    }
    .white_64 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
    }
    .red_64 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/90% no-repeat;
    }
    .blue_64 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
    }
    .purple_64 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
    }
    .black_128 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
    }
    .white_128 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
    }
    .blue_128 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
    }
    .green_128 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/90% no-repeat;
    }
    .red_128 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/90% no-repeat;
    }
    .purple_128 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
    }
    .black_256 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/90% no-repeat;
    }
    .white_256 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/90% no-repeat;
    }
    .blue_256 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/90% no-repeat;
    }
    .purple_256 {
        margin: 8px;
        width: 47%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/90% no-repeat;
    }
    button.buy {
        width: 56px;
        height: 56px;
        bottom: 50px;
        left: 68%;
    }
}
@media screen and (min-width: 920px) and (max-width: 1003px) {
    div.colors>a {
        font-size: 17px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 33%;
    }
    .green_64 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 8px;
        width: 46%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 56px;
        height: 56px;
        bottom: 50px;
        left: 67%;
    }
}
@media screen and (min-width: 880px) and (max-width: 919px) {
    div.colors>a {
        font-size: 16px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 32%;
    }
    .green_64 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 8px;
        width: 45%;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 54px;
        height: 54px;
        bottom: 50px;
        left: 67%;
    }
}
@media screen and (min-width: 780px) and (max-width: 879px) {
    div.colors>a {
        font-size: 15px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 28%;
    }
    .green_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 52px;
        height: 52px;
        bottom: 60px;
        left: 67%;
    }
    ul.choose_color, ul.choose_memory {
        padding-inline-start: 0;
    }
    ul.choose_color>li, ul.choose_memory>li {
        width: 90%;
    }
}
@media screen and (min-width: 722px) and (max-width: 779px) {
    div.colors>a {
        font-size: 14px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 26%;
    }
    .green_64 {
        margin: 3px;
        width: 47%;
        height: 470px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 5px;
        width: 45%;
        height: 470px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 52px;
        height: 52px;
        bottom: 60px;
        left: 67%;
    }
    ul.choose_color, ul.choose_memory {
        padding-inline-start: 0;
    }
    ul.choose_color>li, ul.choose_memory>li {
        width: 91%;
    }
}
@media screen and (min-width: 610px) and (max-width: 721px) {
    main table tr:nth-of-type(1)>td:nth-of-type(2) p {
        display: block;
        margin: auto;
        text-align: center;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(2)>button {
        display: block;
        height: 40px;
        margin: 5px auto;
        font-size: 20px;
    }
    div.colors>a {
        font-size: 16px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 33%;
    }
    .green_64 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 5px 0 5px 60px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 52px;
        height: 52px;
        bottom: 70px;
        left: 69%;
    }
    ul.choose_color, ul.choose_memory {
        padding-inline-start: 0;
    }
    ul.choose_color>li, ul.choose_memory>li {
        width: 88%;
    }
}
@media screen and (min-width: 540px) and (max-width: 609px) {
    main table tr:nth-of-type(1)>td:nth-of-type(2) p {
        display: block;
        margin: auto;
        text-align: center;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(2)>button {
        display: block;
        height: 40px;
        margin: 5px auto;
        font-size: 20px;
    }
    div.colors>a {
        font-size: 14px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 34%;
    }
    .green_64 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 5px 0 5px 40px;
        width: 67%;
        height: 460px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 50px;
        height: 50px;
        bottom: 66px;
        left: 67%;
    }
    ul.choose_color, ul.choose_memory {
        padding-inline-start: 0;
    }
    ul.choose_color>li, ul.choose_memory>li {
        width: 88%;
    }
}
@media screen and (min-width: 410px) and (max-width: 539px) {
    main table tr:nth-of-type(1)>td:nth-of-type(2) p {
        display: block;
        margin: auto;
        text-align: center;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(2)>button {
        display: block;
        height: 40px;
        margin: 5px auto;
        font-size: 18px;
    }
    div.colors>a {
        font-size: 13px;
        margin: 290px 0 0 6px;

    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 33%;
    }
    .green_64 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 5px 0 5px 12px;
        width: 212px;
        height: 420px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 50px;
        height: 50px;
        bottom: 66px;
        left: 67%;
    }
    ul.choose_color, ul.choose_memory {
        padding-inline-start: 0;
    }
    ul.choose_color>li, ul.choose_memory>li {
        width: 90%;
    }
}
@media screen and (min-width: 380px) and (max-width: 409px) {
    main table tr:nth-of-type(1)>td:nth-of-type(2) p {
        display: block;
        margin: auto;
        text-align: center;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(2)>button {
        display: block;
        height: 40px;
        margin: 5px auto;
        font-size: 14px;
    }
    div.colors>a {
        font-size: 10px;
        margin: 200px 0 0 6px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 33%;
    }
    .green_64 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 5px 0 5px 20px;
        width: 160px;
        height: 330px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 40px;
        height: 40px;
        bottom: 48px;
        left: 66%;
    }
    ul.choose_color, ul.choose_memory {
        padding-inline-start: 0;
    }
    ul.choose_color>li, ul.choose_memory>li {
        width: 90%;
    }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
    main table tr:nth-of-type(1)>td:nth-of-type(2) p {
        display: block;
        margin: auto;
        text-align: center;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(2)>button {
        display: block;
        height: 30px;
        margin: 2px auto;
        font-size: 12px;
    }
    div.colors>a {
        font-size: 9px;
        margin: 180px 0 0 1px;
    }
    main table tr:nth-of-type(1)>td:nth-of-type(1) {
        width: 33%;
    }
    td {
        min-width: 130px;
    }
    .green_64 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .black_64 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_64 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .red_64 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .blue_64 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_64 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_128 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_128 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_128 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .green_128 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/green12.webp") 50% 30%/92% no-repeat;
    }
    .red_128 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/red12.webp") 50% 30%/92% no-repeat;
    }
    .purple_128 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    .black_256 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/black12.webp") 50% 30%/92% no-repeat;
    }
    .white_256 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/white12.webp") 50% 30%/92% no-repeat;
    }
    .blue_256 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/blue12.webp") 50% 30%/92% no-repeat;
    }
    .purple_256 {
        margin: 5px 0 5px 0;
        width: 138px;
        height: 310px;
        background: url("img_goods_iPhones/purple12.webp") 50% 30%/92% no-repeat;
    }
    button.buy {
        width: 30px;
        height: 30px;
        bottom: 44px;
        left: 66%;
    }
    ul.choose_color, ul.choose_memory {
        padding-inline-start: 0;
    }
    ul.choose_color>li, ul.choose_memory>li {
        width: 89%;
    }
    p.articul {
        font-size: smaller;
        margin: 5px 0 0 2px;
    }
    p.price {
        font-size: 12px;
        margin: 10px 0 10px 2px;
    }
}
